* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
    
}

body {
    background-color: #215c87;
    background-image: linear-gradient(135deg, #215c87 0%, #5e607b 100%);

}
/* 
font-family: 'Inknut Antiqua', serif;
font-family: 'Lato', sans-serif;
font-family: 'Londrina Solid', cursive;
font-family: 'Readex Pro', sans-serif;
font-family: 'Roboto Mono', monospace; */

header{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.logo {
    width: 5%;
}

.main-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    margin-bottom: 50px;
}
.form-container {
    width: 30%;
}

.form-card {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5%;
    box-shadow: 4px 6px 14px #2F2F42;
}

.labels{
    margin-bottom: 20px;
}

.inputs{
    display: block;
    border: 0;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 10px;
}

.trunfo{
    border: 1px solid black;
    border-radius: 10%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button{
    width: 100%;
}

.preview-container{
    display: flex;
    width: 30%;
}
/* .card-preview{
    width: 20rem;
    height: 600px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    border: 1px solid black;
} */

.card-preview{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 600px;
    text-align: center;
    align-items: center;
    justify-content:space-around;
    background: rgb(40,40,55);
    background: linear-gradient(344deg, rgba(40,40,55,1) 0%, rgba(16,16,18,1) 50%);
    box-shadow: 4px 6px 14px #2F2F42;
    border-radius: 3px;
    color: #F9F9F9;
    padding: 16px;
    transition: all .3s;
    cursor: pointer;
   }

.description{
    margin-bottom: 10px;
}

#super-trunfo{ 
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: yellow;
}

.img{
    /* width: 100%;
    height: 500px; */
    width: 100%;
    max-height:50%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.list-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    color: black;
}

.card-save {
    text-align: center;
    margin-right: 10px;
    width: 300px;
    height: 400px;
    font-size: smaller;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.card-saves{
    margin-bottom: 50px;
    text-align: center;
    transition: .5s;
}

.card-saves:hover{
    transform: scale(1.1);
    transition: .5s;
}
.img-save {
    width: 100%;
    height: 50%;
}

/* .button-delete{
    width: 90%;
} */

.button-delete {
    position: relative;
    cursor: pointer;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 3px;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    background-color: #ff3033;
    background-image: linear-gradient(180deg, #ff3033 0%, #f5333f 100%);

    border: none;
    text-shadow: 0px -2px #27ae60;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
   }
   
    .button-delete:active {
    -webkit-transform: translate(0px,5px);
    -ms-transform: translate(0px,5px);
    transform: translate(0px,5px);
    border-bottom: 1px solid #2ecc71;
   }

   /* BUTTON SAVE */
   .button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
   }
   
   .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   
   .button:active {
    transform: translateY(-1px);
   }

   .button:disabled{
     background-color: #ff3033;
   }
